<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Javascriptový framework AngularJS</title>
    <link rel="stylesheet" type="text/css" href="build/build.css">
  </head>
  <body ng-app="helloWorld">
    <article>
      <section>
        <h4>Aplikačné Architektúry Softvérových Systémov 2015</h4>
        <h2>Javascriptový framework AngularJS</h2>
        <h3>Richard Filipčík &amp; Martin Šustek</h3>
      </section>
      <section>
        <h3>Témy</h3>
        <ul>
          <li>data binding</li>
          <li>controllers &amp; scope</li>
          <li>dependency injection</li>
          <li>direktívy</li>
          <li>services &amp; factories</li>
          <li>MEAN stack</li>
        </ul>
      </section>
      <section>
        <h3>Hello World</h3>
        <pre><code class="language-markup">&lt;!doctype html&gt;
&lt;html ng-app&gt;
  ...
  &lt;body&gt;
    &lt;input ng-model="username"&gt;
      Hello &#123;&#123;username&#125;&#125;
    &lt;script src="js/angular.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>
      </section>
      <section>
        <h3>Hello World</h3>
        <pre><code class="language-markup">&lt;!doctype html&gt;
&lt;html ng-app&gt;
  ...
  &lt;body&gt;
    &lt;input ng-model="username"&gt;
      Hello &#123;&#123;username&#125;&#125;
    &lt;script src="js/angular.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre><br>
        <div class="app">
          <div class="input-group"><span id="label" class="input-group-addon">Pozdraviť:</span>
            <input type="text" ng-model="username" placeholder="Osoba" aria-describedby="label" class="form-control">
          </div>
          <p>Hello&nbsp;<span class="result">{{username}}!</span></p>
        </div>
      </section>
      <section>
        <div class="content"><span class="file">myapp/main.js</span>
          <pre><code class="language-javascript">module = angular.module('myapp', [])</code></pre>
        </div>
      </section>
      <section>
        <h2>Controllers, Scope &amp; Dependency Injection</h2>
      </section>
      <section>
        <pre><code class="language-markup">&lt;!doctype html&gt;
&lt;html ng-app="myapp"&gt;
  ...
  &lt;body&gt;
    &lt;div ng-controller="UserController"&gt;
      &lt;input ng-model="username"&gt;
      Hello &#123;&#123;username&#125;&#125;
    &lt;/div&gt;
    
    &lt;script src="js/angular.js"&gt;&lt;/script&gt;
    &lt;script src="myapp/main.js"&gt;&lt;/script&gt;
    &lt;script src="myapp/controllers.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>
      </section>
      <section>
        <div class="content nofade"><span class="file">myapp/controllers.js</span>
          <pre data-line="5"><code class="language-javascript">angular.module('myapp')
  .controller('UserController', function($scope) {
    $scope.username = "Homer Simpson";
});</code></pre>
          <div class="app">
            <div ng-controller="UserController">
              <div class="input-group"><span id="label" class="input-group-addon">Pozdraviť:</span>
                <input type="text" ng-model="username2" aria-describedby="label" class="form-control">
              </div>
              <p>Hello&nbsp;<span class="result">{{username2}}!</span></p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2 class="bullet">Just the beginning...</h2><br>
        <ul>
          <li>Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em></li>
          <li>Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em></li>
          <li>Edit JavaScript in <em>'src/scripts/main.js'</em></li>
        </ul><br>
        <ul>
          <li><strong>Enjoy! :)</strong><a href="http://twitter.com/markdalgleish"> -@markdalgleish</a></li>
        </ul>
      </section>
    </article>
    <script src="build/build.js"></script>
  </body>
</html>