<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Javascriptový framework AngularJS</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="build/build.css">
  </head>
  <body>
    <article>
      <section>
        <h4>Aplikačné Architektúry Softvérových Systémov 2015</h4>
        <h2>Javascriptový framework AngularJS</h2>
        <h3>Richard Filipčík &amp; Martin Šustek</h3>
      </section>
      <section>
        <h3>História</h3>
        <ul>
          <li>vznikol vo firme Google v roku 2009</li>
          <li>prvý JS framework využívajúci MVVM model</li>
          <li>tvorca sa stavil so šéfom, zredukoval LOC o 80%</li>
        </ul>
      </section>
      <section>
        <h3>Hello World</h3>
        <pre><code class="language-markup">&lt;!doctype html&gt;
&lt;html ng-app&gt;
  ...
  &lt;body&gt;
    &lt;input ng-model="username"&gt;
      Hello &#123;&#123;username&#125;&#125;
    &lt;script src="js/angular.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre><br>
        <div ng-app="helloWorld" class="app">
          <div class="input-group"><span id="label" class="input-group-addon">Pozdraviť:</span>
            <input type="text" ng-model="username" placeholder="Osoba" aria-describedby="label" class="form-control">
          </div>
          <p>Hello&nbsp;<span class="result">{{username}}!</span></p>
        </div>
      </section>
      <section>
        <h3>Hello World</h3>
        <div class="content"><span class="file">myapp/main.js</span>
          <pre><code class="language-javascript">module = angular.module('myapp', [])</code></pre>
        </div>
      </section>
      <section>
        <h2>Controllers, Scope &amp; Dependency Injection</h2>
      </section>
      <section>
        <h3>Controllers</h3>
        <pre><code class="language-markup">&lt;!doctype html&gt;
&lt;html ng-app="myapp"&gt;
  ...
  &lt;body&gt;
    &lt;div ng-controller="UserController"&gt;
      &lt;input ng-model="username"&gt;
      Hello &#123;&#123;username&#125;&#125;
    &lt;/div&gt;
    &lt;script src="js/angular.js"&gt;&lt;/script&gt;
    &lt;script src="myapp/main.js"&gt;&lt;/script&gt;
    &lt;script src="myapp/controllers.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
      </section>
      <section>
        <h3>Controllers</h3>
        <div class="content nofade"><span class="file">myapp/controllers.js</span>
          <pre data-line="5"><code class="language-javascript">angular.module('myapp')
  .controller('UserController', function($scope) {
    $scope.username = "Homer Simpson";
});</code></pre>
          <div class="app myapp1">
            <div ng-controller="UserController">
              <div class="input-group"><span id="label" class="input-group-addon">Pozdraviť:</span>
                <input type="text" ng-model="username" aria-describedby="label" class="form-control">
              </div>
              <p>Hello&nbsp;<span class="result">{{username}}!</span></p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h3>Dependency injection</h3>
        <div class="content nofade"><span class="file">myapp/controllers.js</span>
          <pre data-line="5-7"><code class="language-javascript">angular.module('myapp')
  .controller('UserController', function($scope, $timeout){
    $timeout(function() {
      $scope.username = "Charles Montgomery Burns";
    }, 3000);
  });</code></pre>
          <div class="app myapp2">
            <div ng-controller="UserController">
              <div class="input-group"><span id="label" class="input-group-addon">Pozdraviť:</span>
                <input type="text" ng-model="username" aria-describedby="label" class="form-control">
              </div>
              <p>Hello&nbsp;<span class="result">{{username}}!</span></p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h3>Scope</h3>
        <div class="content nofade"><img id="glue-image" src="images/glue.png"></div>
      </section>
      <section>
        <h3>Scope</h3>
        <div class="content nofade">
          <pre><code class="language-markup">&lt;div ng-controller="UserController"&gt;
  &lt;button ng-click="setUsername()"&gt;Set username&lt;/button&gt;
  &lt;button ng-click="setUsername('Maggie')"&gt;Set Maggie&lt;/button&gt;
  &lt;input ng-model="username"&gt;
  Hello &#123;&#123;username&#125;&#125;
&lt;/div&gt;</code></pre>
          <pre data-line="4-8"><code class="language-javascript">angular.module('myapp')
  .controller('UserController', funtion($scope){
    $scope.setUsername = function(username){
      $scope.username = username ? username : "Lisa";
    }
  });</code></pre>
        </div>
      </section>
      <section>
        <h3>Scope</h3>
        <div class="content nofade">
          <pre><code class="language-markup">&lt;div ng-controller="UserController"&gt;
  &lt;button ng-click="setUsername()"&gt;Set username&lt;/button&gt;
  &lt;button ng-click="setUsername('Maggie')"&gt;Set Maggie&lt;/button&gt;
  &lt;input ng-model="username"&gt;
  Hello &#123;&#123;username&#125;&#125;
&lt;/div&gt;</code></pre>
        </div>
        <div class="app myapp3">
          <div ng-controller="UserController">
            <div class="row">
              <div class="input-group"><span id="label" class="input-group-addon">Pozdraviť:</span>
                <input type="text" ng-model="username" aria-describedby="label" class="form-control">
              </div>
            </div>
            <div class="row">Hello&nbsp;<span class="result">{{username}}!</span></div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-1">
                <div ng-click="setUsername()" class="btn btn-block btn-primary">setUsername()</div>
              </div>
              <div class="col-lg-4 col-lg-offset-1">
                <div ng-click="setUsername('Maggie')" class="btn btn-block btn-primary">setUsername('Maggie')</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2>Direktívy &amp; Filtre</h2>
      </section>
      <section>
        <h2>Direktívy</h2>
        <pre><code class="language-markup">&lt;html ng-app="myapp"&gt;
  &lt;body ng-init="workers=['Homer','Lenny','Carl']"&gt;
    &lt;ul&gt;
      &lt;li ng-repeat="worker in workers"&gt; &#123;&#123;worker&#125;&#125; &lt;li&gt;
    &lt;/ul&gt;
    &lt;script src="js/angular.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
        <div class="app myapp4">
          <div class="row">
            <h4>Sector 7G workers:</h4>
          </div>
          <div ng-controller="App4Controller" class="row">
            <div ng-repeat="worker in workers">{{worker}}</div>
          </div>
        </div>
      </section>
      <section>
        <h2>Filtre</h2>
        <pre class="filter-code-listing"><code class="language-markup">&lt;html ng-app="myapp"&gt;
 &lt;body&gt;
  &lt;input type="text" ng-model="filterName"&gt;
  &lt;ul&gt;
   &lt;li ng-repeat="worker in workers &#124; filter:filterName
          &#124; orderBy:'name'"&gt;
    &#123;&#123;worker.name&#125;&#125; - &#123;&#123;worker.position&#125;&#125;&lt;li&gt;
  &lt;/ul&gt;
 &lt;/body&gt;
&lt;/html&gt;</code></pre>
        <div class="app myapp5">
          <div class="row">
            <div class="input-group"><span id="label" class="input-group-addon">Pracovník:</span>
              <input type="text" ng-model="filterName" aria-describedby="label" class="form-control">
            </div>
          </div>
          <div ng-controller="WorkersController" class="row">
            <div ng-repeat="worker in workers | filter:filterName | orderBy:'name'">{{worker.name | uppercase}} - {{worker.position}}</div>
          </div>
        </div>
      </section>
      <section>
        <h3>Zhrnutie</h3>
        <ul>
          <li>data binding</li>
          <li>controllers &amp; scope</li>
          <li>dependency injection</li>
          <li>direktívy &amp; filtre</li>
          <li>services &amp; factories</li>
          <li>MEAN stack</li>
        </ul>
      </section>
    </article>
    <script src="build/build.js"></script>
  </body>
</html>